window {
    background-color: #121212;
    border-radius: 8px;
    border: 4px solid #76946a;
}

#input {
  font-family: "JetBrainsMono NF";
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  border: #76946a;
  background-color: #121212;
  color: #e0e0e0;
}

#inner-box {
  margin: 2px;
}

#outer-box {
  margin: 2px;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 2px;
  color: #e0e0e0;
}

#entry {
  font-family: "JetBrainsMono NF";
  font-size:16px;
  padding: 2px;
  margin: 0px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #76946a;
}

#text:selected {
  margin: 2px;
  color: #1f1f1f;
}
#img {
  margin: 0px;
  padding:2px;
  border-radius: 4px;
}
