@import "colors";
$black:#121212;
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 15px;
  color: $primary;
  padding: 0 2px 0 2px;
}
tooltip {
    border-radius: 10px;
    background-color: $background;
    opacity:0.6;
    padding:20px;
    margin:0px;
}

.calendar-popup {
  background-color: rgba($background, 0.8);
  border:3px solid $primary; 
  border-radius: 15px;
  padding: 0 12px;
}
calendar {
  color: $inverse_surface;
  font-size: 18px;
}
calendar:selected {
  color: $inverse_surface;
  background-color: rgba($primary, 0.3);
  border-radius: 15px;
}
calendar.header {
color: $primary;
font-weight: bold;
}
calendar.button {
color: $inverse_surface;
}
calendar.highlight {
color: $primary;
font-weight: bold;
}
calendar:indeterminate {
color: $on_primary;
}

.popup-container {
  background-color: rgba($background, 0.9);
  border:3px solid $primary; 
  border-radius: 12px;
  padding: 1em 1em 1em 1em;
}

.powermenu-container {
  background-color: rgba($inverse_surface, 0.2);
  padding: 0.4em 0.4em;
  border-radius: 15px;
  font-size: 30px;
}
.metrics-container {
  background-color: rgba($inverse_surface, 0.2);
  padding: 0.4em 0.4em;
  border-radius: 15px;
  font-size: 30px;
}
.metric-button {
  background: rgba($black,0.4);
  border: 2px solid rgba($primary, 0.3);
  padding: 8px;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

.metric-button:hover {
  background: rgba($primary, 0.3);
}


.osd-container {
  background-color: rgba($background, 0.8);
  padding: 0.55em 0.55em;
  border-radius: 15px;
  border:1px solid $primary; 
}

.volume-container, .brightness-container {
  background-color: rgba($inverse_surface, 0.3);
  padding: 0.1em 0.1em;
  border-radius: 15px;
}

.volume-icon, .brightness-icon {
  color: $primary;
  font-size: 24px;
}

.brightness-scale trough highlight, .volume-scale trough highlight {
  background-color: $primary;
  border-radius: 15px;
  min-height: 40px;
}

.brightness-scale highlight, .volume-scale highlight {
  color: $primary;
  border-radius: 1rem;
  margin: 0em 0em 0em 2.4em;
}

.filter-control {
  color: $primary;
}
.filter-btn {
  color: $primary;
  border:1px solid rgba($primary,0.7); 
  border-radius: 15px;
}
